<a href="https://colab.research.google.com/github/NINJAHATTORI004/Brazen-Head/blob/main/Welcome_To_Colab.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
import matplotlib as plt
df=pd.read_excel('/content/Datafile_2.xlsx')
df.head()

,Id,Url,Title,Breadcrumb,Address,City,PossesionDate,builtuparea,CarpetArea,Amenities,...,AgeOfProperty,Buildingname,Bedroom,bathroom,parking,price,Built up area Rate,Facing,Floors,Images
0,1,https://housing.com/in/buy/resale/page/2760130...,2 BHK Apartment,Home | Thane | Thane West | 2760130 |,"Swastik Regalia, Thane West, Thane",thane,Ready to move in,910 sq. ft.,700 sq. ft.,NaN,...,10 Years,Swastik Regalia,2,2.0,NaN,95.0 L,10.44 K per sq. ft.,NaN,Lower of 7 floors,NaN
1,2,https://housing.com/in/buy/resale/page/2757498...,2 BHK Apartment,Home | Thane | Thane West | 2757498 |,"Amara, Thane West, Thane",thane,"June, 2019",875 sq. ft.,660 sq. ft.,NaN,...,NaN,NaN,2,2.0,NaN,1.15 Cr,13.14 K per sq. ft.,NaN,,https://is1-2.housingcdn.com/01c16c28/54bf6a0d...
2,3,https://housing.com/in/buy/resale/page/2753188...,2 BHK Apartment,Home | Thane | Thane West | 2753188 |,"Vijay Galaxy Tower 1, Waghbil Naka, Thane West...",thane,Ready to move in,999 sq. ft.,638 sq. ft.,ParkingLiftSwimming PoolSports FacilityKids Ar...,...,3 Years,Vijay Galaxy Tower 1,2,2.0,1.0,1.1 Cr,11.01 K per sq. ft.,West,Middle of 17 floors,NaN
3,4,https://housing.com/in/buy/resale/page/2747709...,2 BHK Apartment,Home | Thane | Shilphata | 2747709 |,"Flat No 1705, Shil-phata, 17 Floor, Near Mahap...",thane,Ready to move in,945 sq. ft.,651 sq. ft.,NaN,...,0 Years,NaN,1,2.0,NaN,67.0 L,7089.00 per sq. ft.,North-East,Higher of 21 floors,NaN
4,5,https://housing.com/in/buy/resale/page/2750468...,1 BHK Apartment,Home | Thane | Thane West | 2750468 |,"Puraniks Kanchan Pushp Society, Thane West, Thane",thane,Ready to move in,490 sq. ft.,400 sq. ft.,LiftKids AreaGardenGas PipelineGated Community,...,15 Years,NaN,1,1.0,NaN,54.0 L,11.02 K per sq. ft.,East,Higher of 7 floors,https://is1-2.housingcdn.com/01c16c28/037ddf6b...

In [3]:
df.tail()

,Id,Url,Title,Breadcrumb,Address,City,PossesionDate,builtuparea,CarpetArea,Amenities,...,AgeOfProperty,Buildingname,Bedroom,bathroom,parking,price,Built up area Rate,Facing,Floors,Images
9441,9442,https://housing.com/in/buy/resale/page/1015695...,3 BHK Apartment,Home | Thane | Thane West | 1015695 |,"Eastern Express Hwy, Near Lodha Complex, Majiw...",thane,Ready to move in,1566 sq. ft.,1118 sq. ft.,ParkingPower BackupWater SupplyLiftSwimming Po...,...,3 Years,NaN,3,3.0,2.0,2.0 Cr(negotiable),12.77 K per sq. ft.,South-West,Lower of 30 floors,https://is1-3.housingcdn.com/01c16c28/ec0cea02...
9442,9443,https://housing.com/in/buy/resale/page/1085796...,2 BHK Apartment,Home | Thane | Thane West | 1085796 |,"Ghodbunder Road, Near Dnyan Ganga Education Tr...",thane,Ready to move in,902 sq. ft.,590 sq. ft.,Power BackupWater SupplyLiftSwimming PoolSport...,...,4 Years,NaN,2,2.0,NaN,53.0 L(negotiable),5875.00 per sq. ft.,North-West,Middle of 29 floors,https://is1-2.housingcdn.com/01c16c28/49a1e9f3...
9443,9444,https://housing.com/in/buy/resale/page/1085438...,2 BHK Apartment,Home | Thane | Thane West | 1085438 |,"Ghodbunder Road, Near Hypercity, Haware City, ...",thane,Ready to move in,902 sq. ft.,590 sq. ft.,Power BackupWater SupplyLiftSwimming PoolSport...,...,4 Years,NaN,2,2.0,NaN,53.0 L(negotiable),5875.00 per sq. ft.,South-East,Middle of 29 floors,https://is1-2.housingcdn.com/01c16c28/af70cc0a...
9444,9445,https://housing.com/in/buy/resale/page/968599-...,1 BHK Apartment,Home | Thane | Thane West | 968599 |,"Ghodbunder Road, Near Hypercity, Haware City, ...",thane,Ready to move in,561 sq. ft.,400 sq. ft.,Power BackupWater SupplyLiftSwimming PoolSport...,...,3 Years,NaN,1,1.0,NaN,41.5 L(negotiable),7397.00 per sq. ft.,North-East,Lower of 24 floors,https://is1-3.housingcdn.com/01c16c28/627a60d0...
9445,9446,https://housing.com/in/buy/resale/page/709238-...,2 BHK Apartment,Home | Thane | Thane West | 709238 |,"Ghodbunder Road, Near Hypercity Mall, Kasarvad...",thane,Ready to move in,902 sq. ft.,631 sq. ft.,ParkingPower BackupWater SupplyLiftSwimming Po...,...,5 Years,NaN,2,2.0,1.0,56.0 Lacs,6208.00 per sq. ft.,South-East,Middle of 28 floors,https://is1-2.housingcdn.com/01c16c28/feeb9769...

In [4]:
df.describe()

,Id,Latitude,Longitude,Bedroom,bathroom,parking
count,9446.000000,9446.000000,9446.000000,9446.000000,8083.000000,2329.000000
mean,4723.500000,19.231081,72.983532,1.554097,1.919337,1.136969
std,2726.969655,0.036940,0.029119,0.856567,0.861291,0.354952
min,1.000000,19.140740,72.942505,0.000000,1.000000,1.000000
25%,2362.250000,19.206782,72.964486,1.000000,1.000000,1.000000
50%,4723.500000,19.233931,72.974525,1.000000,2.000000,1.000000
75%,7084.750000,19.261591,72.986779,2.000000,2.000000,1.000000
max,9446.000000,19.287839,73.075134,16.000000,13.000000,3.000000

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9446 entries, 0 to 9445
Data columns (total 23 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Id                   9446 non-null   int64
 1   Url                  9446 non-null   object
 2   Title                9446 non-null   object
 3   Breadcrumb           9446 non-null   object
 4   Address              9446 non-null   object
 5   City                 9446 non-null   object
 6   PossesionDate        9437 non-null   object
 7   builtuparea          9446 non-null   object
 8   CarpetArea           7523 non-null   object
 9   Amenities            7787 non-null   object
 10  Latitude             9446 non-null   float64
 11  Longitude            9446 non-null   float64
 12  Building name-1      1919 non-null   object
 13  AgeOfProperty        6858 non-null   object
 14  Buildingname         2092 non-null   object
 15  Bedroom              9446 non-null   int64
 16  bathroom             8083 non-null   float64
 17  parking              2329 non-null   float64
 18  price                9446 non-null   object
 19  Built up area Rate   9446 non-null   object
 20  Facing               7610 non-null   object
 21  Floors               9446 non-null   object
 22  Images               8005 non-null   object
dtypes: float64(4), int64(2), object(17)
memory usage: 1.7+ MB

In [6]:
df.columns

Index(['Id', 'Url', 'Title', 'Breadcrumb', 'Address', 'City', 'PossesionDate',
       'builtuparea', 'CarpetArea', 'Amenities', 'Latitude', 'Longitude',
       'Building name-1', 'AgeOfProperty', 'Buildingname', 'Bedroom',
       'bathroom', 'parking', 'price', 'Built up area Rate ', 'Facing',
       'Floors', 'Images'],
      dtype='object')

In [7]:
df.isnull().sum()

Id                        0
Url                       0
Title                     0
Breadcrumb                0
Address                   0
City                      0
PossesionDate             9
builtuparea               0
CarpetArea             1923
Amenities              1659
Latitude                  0
Longitude                 0
Building name-1        7527
AgeOfProperty          2588
Buildingname           7354
Bedroom                   0
bathroom               1363
parking                7117
price                     0
Built up area Rate        0
Facing                 1836
Floors                    0
Images                 1441
dtype: int64

In [8]:
df.drop(columns=['Building name-1', 'Images',], inplace=True)

In [10]:

df['City'] = df['City'].str.strip().str.lower()
df['Address'] = df['Address'].str.strip().str.title()
df['PossesionDate'] = pd.to_datetime(df['PossesionDate'], errors='coerce')

<ipython-input-10-caca725f86d2>:3: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df['PossesionDate'] = pd.to_datetime(df['PossesionDate'], errors='coerce')

In [17]:
df['price'] = df['price'].astype(str).str.extract(r'(\d+\.\d+|\d+)').astype(float)
df.columns = df.columns.str.strip().str.replace(' ', '_').str.replace('-', '_')
df['CarpetArea'] = df['CarpetArea'].astype(str).str.extract(r'(\d+)').astype(float)
df['Floors'] = df['Floors'].astype(str).str.extract(r'(\d+)').astype(float)
df['AgeOfProperty'] = df['AgeOfProperty'].astype(str).str.extract(r'(\d+)').astype(float)

In [19]:
df.isnull().sum()

Id                       0
Url                      0
Title                    0
Breadcrumb               0
Address                  0
City                     0
PossesionDate         8783
builtuparea              0
CarpetArea            1923
Amenities             1659
Latitude                 0
Longitude                0
AgeOfProperty         2588
Buildingname          7354
Bedroom                  0
bathroom              1363
parking               7117
price                    0
Built_up_area_Rate       0
Facing                1836
Floors                2638
dtype: int64

In [20]:
df['Amenities'].fillna('Unknown', inplace=True)
df['Facing'].fillna('Unknown', inplace=True)
df['bathroom'].fillna(df['bathroom'].median(), inplace=True)
df['parking'].fillna(0, inplace=True)
df['Buildingname'].fillna('Unknown', inplace=True)
df['CarpetArea'].fillna(df['CarpetArea'].median(), inplace=True)
df['Floors'].fillna(df['Floors'].median(), inplace=True)
df['AgeOfProperty'].fillna(df['AgeOfProperty'].median(), inplace=True)
df['City'].fillna('Unknown', inplace=True)
df['Address'].fillna('Unknown', inplace=True)
df['PossesionDate'].fillna('Unknow', inplace=True)

<ipython-input-20-2a57562a593b>:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Amenities'].fillna('Unknown', inplace=True)
<ipython-input-20-2a57562a593b>:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Facing'].fillna('Unknown', inplace=True)
<ipython-input-20-2a57562a593b>:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['bathroom'].fillna(df['bathroom'].median(), inplace=True)
<ipython-input-20-2a57562a593b>:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['parking'].fillna(0, inplace=True)
<ipython-input-20-2a57562a593b>:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Buildingname'].fillna('Unknown', inplace=True)
<ipython-input-20-2a57562a593b>:6: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['CarpetArea'].fillna(df['CarpetArea'].median(), inplace=True)
<ipython-input-20-2a57562a593b>:7: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Floors'].fillna(df['Floors'].median(), inplace=True)
<ipython-input-20-2a57562a593b>:8: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['AgeOfProperty'].fillna(df['AgeOfProperty'].median(), inplace=True)
<ipython-input-20-2a57562a593b>:9: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['City'].fillna('Unknown', inplace=True)
<ipython-input-20-2a57562a593b>:10: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Address'].fillna('Unknown', inplace=True)
<ipython-input-20-2a57562a593b>:11: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['PossesionDate'].fillna('Unknow', inplace=True)
<ipython-input-20-2a57562a593b>:11: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'Unknow' has dtype incompatible with datetime64[ns], please explicitly cast to a compatible dtype first.
  df['PossesionDate'].fillna('Unknow', inplace=True)

In [21]:
df.isnull().sum()

Id                    0
Url                   0
Title                 0
Breadcrumb            0
Address               0
City                  0
PossesionDate         0
builtuparea           0
CarpetArea            0
Amenities             0
Latitude              0
Longitude             0
AgeOfProperty         0
Buildingname          0
Bedroom               0
bathroom              0
parking               0
price                 0
Built_up_area_Rate    0
Facing                0
Floors                0
dtype: int64

In [22]:
df.head()

,Id,Url,Title,Breadcrumb,Address,City,PossesionDate,builtuparea,CarpetArea,Amenities,...,Longitude,AgeOfProperty,Buildingname,Bedroom,bathroom,parking,price,Built_up_area_Rate,Facing,Floors
0,1,https://housing.com/in/buy/resale/page/2760130...,2 BHK Apartment,Home | Thane | Thane West | 2760130 |,"Swastik Regalia, Thane West, Thane",thane,Unknow,910 sq. ft.,700.0,Unknown,...,72.976679,10.0,Swastik Regalia,2,2.0,0.0,95.00,10.44 K per sq. ft.,Unknown,7.0
1,2,https://housing.com/in/buy/resale/page/2757498...,2 BHK Apartment,Home | Thane | Thane West | 2757498 |,"Amara, Thane West, Thane",thane,2019-06-01 00:00:00,875 sq. ft.,660.0,Unknown,...,72.988406,3.0,Unknown,2,2.0,0.0,1.15,13.14 K per sq. ft.,Unknown,15.0
2,3,https://housing.com/in/buy/resale/page/2753188...,2 BHK Apartment,Home | Thane | Thane West | 2753188 |,"Vijay Galaxy Tower 1, Waghbil Naka, Thane West...",thane,Unknow,999 sq. ft.,638.0,ParkingLiftSwimming PoolSports FacilityKids Ar...,...,72.973441,3.0,Vijay Galaxy Tower 1,2,2.0,1.0,1.10,11.01 K per sq. ft.,West,17.0
3,4,https://housing.com/in/buy/resale/page/2747709...,2 BHK Apartment,Home | Thane | Shilphata | 2747709 |,"Flat No 1705, Shil-Phata, 17 Floor, Near Mahap...",thane,Unknow,945 sq. ft.,651.0,Unknown,...,73.046473,0.0,Unknown,1,2.0,0.0,67.00,7089.00 per sq. ft.,North-East,21.0
4,5,https://housing.com/in/buy/resale/page/2750468...,1 BHK Apartment,Home | Thane | Thane West | 2750468 |,"Puraniks Kanchan Pushp Society, Thane West, Thane",thane,Unknow,490 sq. ft.,400.0,LiftKids AreaGardenGas PipelineGated Community,...,72.968925,15.0,Unknown,1,1.0,0.0,54.00,11.02 K per sq. ft.,East,7.0

# New Section

# New Section